body {
    height: 100vh;
    background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgba(35,54,84,1) 30%, rgba(0,148,179,1) 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.question-card {
    width: 30rem;
    margin: 16px;
}

.card-image {
    height: 10rem;
    object-fit: cover;
}

.answer {
    cursor: pointer;
    text-align: start;
}

.answer:hover {
    background: rgb(240, 240, 240);
}

.card-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.d-none {
    display: none;
}

/* Bootstrap */
.progress {
    border-radius: 0;
}

.progress-bar {
    width: 0%;
}